<p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
        <img class="mr-2" src="https://cdn-icons-png.flaticon.com/128/12740/12740855.png" width="40" height="40" />
    </ng-template>
    <ng-template pTemplate=" item" let-item>
        <a [routerLink]="item.route" class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div *ngIf="userIsLoggedIn; else noLoggedInUser" (click)="logoutPanel.toggle($event)">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                label="{{loggedInUser?.fullName?.charAt(0)?.toUpperCase()}}" size="large" />
            <p-overlayPanel #logoutPanel>
                <div>
                    <p-button label="Logout" (onClick)="logout()"></p-button>
                </div>
            </p-overlayPanel>
        </div>
        <ng-template #noLoggedInUser>
            <a class="p-menuitem-link p-menu-item-login" (click)="navigateToLoginPage()">
                <span class="pi pi-sign-in"></span>
                <span class="ml-2">Login</span>
            </a>
        </ng-template>
    </ng-template>
</p-menubar>