<div class="flex justify-content-between flex-wrap">
    <h1>{{budgets[0].description}}</h1>
    <div class="flex align-content-center flex-wrap">
        <p-button class="pr-1" icon="pi pi-chevron-left" [outlined]="true" pTooltip="Previous month"
            tooltipPosition="top" />
        <p-button icon="pi pi-chevron-right" [outlined]="true" pTooltip="Next month" tooltipPosition="top" />
    </div>
</div>

<div class="card">
    <div *ngFor="let category of budgets[0]?.categories">
        <div class="pb-2">
            <app-budget-group [budgetGroupCategory]="category"></app-budget-group>
        </div>
    </div>
</div>

<!-- <div class="card">
    <p-tabView [scrollable]="true">
        <p-tabPanel *ngFor="let budget of budgets" [header]="budget.description">
            <div class="p-2">
                <p-button label="Add Category" (onClick)="showCreateCategoryDialog()"></p-button>
            </div>
            <p-dialog header="Add Category" [modal]="true" [(visible)]="createCategoryDialogVisible"
                [style]="{ width: '25rem' }">
                <div [formGroup]="createCategoryForm">
                    <div class="field">
                        <label htmlFor="description" for="description">Description</label>
                        <input pInputText class="w-full" id="description" aria-label="Enter description"
                            formControlName="description"
                            [ngClass]="{'border-danger': validateRequiredFields('description')}" />
                        <div *ngIf="createCategoryForm.get('description')?.hasError('required')">
                            <small class="p-error block pt-2" *ngIf="validateRequiredFields('description')"
                                id="description">
                                Description is required.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label htmlFor="planned" for="planned">Planned</label>
                        <input pInputText class="w-full" id="planned" aria-label="Enter planned"
                            formControlName="planned"
                            [ngClass]="{'border-danger': validateRequiredFields('planned')}" />
                        <div *ngIf="createCategoryForm.get('planned')?.hasError('required')">
                            <small class="p-error block pt-2" *ngIf="validateRequiredFields('planned')" id="planned">
                                Planned is required.</small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (onClick)="createCategoryDialogVisible = false" />
                    <p-button label="Add" (onClick)="addCategory(budget.id)" />
                </div>
            </p-dialog>
            <p-table [value]="budget.categories!" dataKey="id" styleClass="p-datatable-striped"
                [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)"
                (onRowCollapse)="onRowCollapse($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th [width]="5"></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
                        <th pSortableColumn="planned">Planned <p-sortIcon field="planned" /></th>
                        <th pSortableColumn="spent">Spent <p-sortIcon field="spent" /></th>
                        <th pSortableColumn="remaining">Remaining <p-sortIcon field="remaining" /></th>
                        <th [width]="5"></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category let-expanded="expanded">
                    <tr>
                        <td>
                            <p-button type="button" pRipple [pRowToggler]="category" [text]="true" [rounded]="true"
                                [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td [pEditableColumn]="category.description" pEditableColumnField="description">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="category.description" required
                                        (blur)="updateCategory(category)" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ category.description }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="category.planned" pEditableColumnField="description">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="category.planned" required
                                        (blur)="updateCategory(category)" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ category.planned }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{ category.spent | number:'1.2-2' }}
                        </td>
                        <td [ngStyle]="{'color': category.remaining <= 0 ? '#f87171' : '#34d399'}">
                            {{ category.remaining | number:'1.2-2' }}
                        </td>
                        <td>
                            <p-button (click)="confirmDeleteCategory($event, category)" icon="pi pi-trash"
                                severity="danger" [rounded]="true" [text]="true">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-category>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <div class="p-2">
                                    <p-button label="Add Expense" (onClick)="showCreateExpenseDialog()"></p-button>
                                </div>
                                <p-dialog header="Add Expense" [modal]="true" [(visible)]="createExpenseDialogVisible"
                                    [style]="{ width: '25rem' }">
                                    <div [formGroup]="createExpenseForm">
                                        <div class="field">
                                            <label htmlFor="date" for="date">Date</label>
                                            <input pInputText type="date" class="w-full" id="date"
                                                aria-label="Enter date" formControlName="date" />
                                            <div *ngIf="createExpenseForm.get('date')?.hasError('required')">
                                                <small class="p-error block pt-2" id="date">
                                                    Date is required.</small>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label htmlFor="description" for="description">Description</label>
                                            <input pInputText type="text" class="w-full" id="description"
                                                aria-label="Enter description" formControlName="description" />
                                            <div *ngIf="createExpenseForm.get('description')?.hasError('required')">
                                                <small class="p-error block pt-2" id="description">
                                                    Description is required.</small>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label htmlFor="total" for="total">Total</label>
                                            <input pInputText type="number" class="w-full" id="total"
                                                aria-label="Enter total" formControlName="total" />
                                            <div *ngIf="createExpenseForm.get('total')?.hasError('required')">
                                                <small class="p-error block pt-2" id="total">
                                                    Total is required.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-content-end gap-2">
                                        <p-button label="Cancel" severity="secondary"
                                            (onClick)="createCategoryDialogVisible = false" />
                                        <p-button label="Add" (onClick)="addExpense(category.id)" />
                                    </div>
                                </p-dialog>
                                <p-table [value]="category.expenses" dataKey="id">
                                    <ng-template pTemplate="header">

                    <tr>
                        <th pSortableColumn="date">Date <p-sortIcon field="date" /></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total" /></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expense>
                    <tr>
                        <td>{{ expense.date | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.total | number:'1.2-2' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no expenses in this category yet.</td>
                    </tr>
                </ng-template>
            </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
<p-confirmPopup />
</p-tabPanel>
</p-tabView>
</div> -->
<p-toast position="bottom-right" key="br" />