<div class="card">
    <p-tabView [scrollable]="true">
        <p-tabPanel *ngFor="let budget of budgets" [header]="budget.description">
            <div class="p-2">
                <p-button label="Add Category" (onClick)="showCreateCategoryDialog()"></p-button>
            </div>
            <p-dialog header="Add Category" [modal]="true" [(visible)]="createCategoryDialogVisible"
                [style]="{ width: '25rem' }">
                <div [formGroup]="createCategoryForm">
                    <div class="field">
                        <label htmlFor="description" for="description">Description</label>
                        <input pInputText class="w-full" id="description" aria-label="Enter description"
                            formControlName="description"
                            [ngClass]="{'border-danger': validateRequiredFields('description')}" />
                        <div *ngIf="createCategoryForm.get('description')?.hasError('required')">
                            <small class="p-error block pt-2" *ngIf="validateRequiredFields('description')"
                                id="description">
                                Description is required.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label htmlFor="planned" for="planned">Planned</label>
                        <input pInputText class="w-full" id="planned" aria-label="Enter planned"
                            formControlName="planned"
                            [ngClass]="{'border-danger': validateRequiredFields('planned')}" />
                        <div *ngIf="createCategoryForm.get('planned')?.hasError('required')">
                            <small class="p-error block pt-2" *ngIf="validateRequiredFields('planned')" id="planned">
                                Planned is required.</small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (onClick)="createCategoryDialogVisible = false" />
                    <p-button label="Add" (onClick)="addCategory(budget.id)" />
                </div>
            </p-dialog>
            <p-table [value]="budget.categories!" styleClass="p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Description</th>
                        <th>Planned</th>
                        <th>Spent</th>
                        <th>Remaining</th>
                        <th [width]="5"></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>

                        <td [pEditableColumn]="category.description" pEditableColumnField="description">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="category.description" required
                                        (blur)="updateCategory(category)" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ category.description }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="category.planned" pEditableColumnField="description">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="category.planned" required
                                        (blur)="updateCategory(category)" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ category.planned }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{ category.spent }}
                        </td>
                        <td [ngStyle]="{'color': category.remaining <= 0 ? '#f87171' : '#34d399'}">
                            {{ category.remaining }}
                        </td>
                        <td>
                            <p-button (click)="confirmDeleteCategory($event, category)" icon="pi pi-trash"
                                severity="danger" [rounded]="true" [text]="true">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-confirmPopup />
        </p-tabPanel>
    </p-tabView>
</div>
<p-toast position="bottom-right" key="br" />